extends base.pug
block scripts
    script(src='/static/index.js')

block style
    style
      include ../static/style.css

block content
   
    section#introsection
        div Nrtykala Dance Academy
        div.small  It's Your Soul That's Dancing
    section#missionsection
        h2 Our mission 
        div.card
            h3 Dance Perfectionst
            div.card-box
                div.card-img
                    img(src="/static/dance1.png")
                div.card-content 
                p Adorn your Hobby with Dance    
        div.card
            h3 Dance The Way You Like
            div.card-box
                div.card-img
                    img(src="/static/dance2.png")
                div.card-content 
                p The joy of Learning Best   

        div.card
            h3 Expert Training 
            div.card-box
                div.card-img
                    img(src="/static/dance3.png")
                div.card-content 
                p Good dance for Good Moments    
    section#sponsorsection
        h2 Our Sponsor's
        div#sponsors
            img(src="/static/d1.png", alt="sponsor image", class="spimage")
            img(src="/static/d2.png", alt="sponsor image", class="spimage")
            img(src="/static/d3.png", alt="sponsor image", class="spimage")
            img(src="/static/d4.jpg", alt="sponsor image", class="spimage")
                 