h1{
    text-align: center;
    /* margin: 2px 0px; */
    background-color: tomato;
}
.myform{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: url('/static/bg1.jpg') no-repeat center center/cover;
    min-height: 100vh;
    /* margin-top: 12px; */
}
.myinput{
    width: 450px;
    margin-top: 12px;
    margin-bottom: 12px;
    border-radius: 10px;
    font-size: 20px;
    outline: none;
    font-family: 'Arvo', serif;
}
.btn{
    width: 450px;
    padding: 12px 16px;
    margin: 9px 6px;
    font-size: 25px;
    font-weight: bold;
    border-radius: 10px;
}
.btn:hover{
    background-color: gray;
    cursor: pointer;
    font-family: 'Arvo', serif;
}
.container h1{
    font-family: 'Arvo', serif;
}