@import url('https://fonts.googleapis.com/css?family=Arvo|Lato|Titillium+Web&display=swap');
*{
    margin:  0px;
    box-sizing: border-box;
    padding: 0px;
}
#navbar{
    background-color: gray;
    padding: 13px 14px;
    font-family: 'Titillium Web', sans-serif;
    font-size: 25px;
    opacity: 0.8;
    
}
#navbar ul{
   display: flex;
   flex-direction: row;
   /* justify-content: center; */
   align-items: center;
}

#navbar li {
    list-style: none;

}
#navbar li a{
    color: white;
    text-decoration: none;
    padding: 7px 11px;

}

#navbar li a:hover{
    color: black
    

}
#introsection{
    background-color: bisque;
    height: 450px;
    background: url('/static/bg2.jpeg') no-repeat center center /cover;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Arvo', serif;
    font-size: 65px;
    padding-bottom: 60px;
}
#introsection div.small{
    font-size: 40px;
    padding: 15px;

}
#sponsorsection{
    background-color:rgb(182, 181, 181);
    height: 300px;
    font-family: 'Arvo', serif;
}
#missionsection{
    background-color:white;
    height: 300px;
}
#missionsection h2{
    text-align: center;
    padding-top: 23px;
    font-size: 1.5rem;
    font-family: 'Arvo', serif;
 }
 

#sponsorsection h2{
   text-align: center;
   padding-top: 23px;
   font-size: 1.5rem;
   font-family: 'Arvo', serif;
}

#footer{
  background-color: black;
 height: 100px;
 color: white;
}
.card{
    border: 2px solid black;
    display: inline-block;
    border-radius: 10px;
    width: 30%;
    margin: 23px 25px;
    height: 210px;
    background-color: rgb(252, 239, 221);
}
#missionsection h3{
    align-items: center;
    text-align: center;
    font-family: 'Arvo', serif;
}
#logo img{
    height: 42px;
    filter: invert(1);
}
.card-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    justify-content: right;
}
.card-img{
    height: 150px;
    padding: 0px 15px;
    margin: 5px 9px;

}
.card-img img{
    height: inherit;
}
#sponsors{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 120px;
    max-width: 1000px;
    margin: auto;
}
.spimage{
    height: 165px;
    margin: 20px;
    margin-left: 8px;
}
#footer{
    display: flex;
    color: rgb(247, 247, 247);
    height: 35px;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-family: 'Arvo', serif;
}